@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");

/* #region Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-size: 1.6rem;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  /* font-size: 14px; */
  /* font-size: clamp(10px, 7.4vw, 18px); */
  font-size: clamp(15px, 3.382vw, 2.5rem);
  /* line-height: 17px;
  line-height: 24px; */
  line-height: clamp(17px, 15vw, 30px);
  text-align: center;
  /* text-transform: capitalize; */

  color: #000000;
}
h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;

  font-size: clamp(15px, 5vw, 25px);
  line-height: 7.005vw;

  text-transform: capitalize;

  color: #0099ff;
}
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #313030;
}
.card-container > h1 {
  color: #000;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
section {
  padding: 2rem 0;
}
.full-container {
  min-width: 100vw;
  max-width: 100vw;
  margin: 0 auto;

  padding: 0 1.5rem;
  position: relative;
  overflow-x: hidden;
}
.hero-message-container {
  width: 90vw;
  margin: 0 auto;

  padding: 0 1.5rem;
  position: relative;
  /* overflow-x: hidden; */
}
button {
  background-color: #0099ff;
  color: #fff;

  border: 0;
  box-shadow: none;
  border-radius: 1rem;

  padding: 1rem 3rem;

  max-width: clamp(180px, 50vw, 290px);
  max-height: 6rem;
  /* font-size: 2.4rem; */
  font-size: clamp(10px, 7.4vw, 18px);
  font-weight: 600;

  transition-duration: 200ms;
}
button:hover {
  transform: scale(1.1);
}
input,
textarea {
  width: 100%;
  border: none;
  border-radius: 1rem;
  background: #e5e5e5;
  padding: 1rem;
}

/* #endregion*/

/* #region - Header & Footer */

header {
  max-width: 100vw;
  min-height: 0rem;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

footer {
  background: url("./images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 2rem 2rem;
  text-align: left;

  display: grid;
  grid-gap: 2rem;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-template-areas:
    "newsletter-contact-us-flex-col"
    "search-bar"
    "copyright-stuff";
}

footer h1,
footer p {
  color: white;
}
footer p {
  max-width: 15ch;
  height: auto;
  text-align: left;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  /* font-size: 14px; */
  font-size: clamp(8px, 3vw, 12px);
  line-height: 17px;

  color: #ffffff;
}

.newsletter-contact-us-flex-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.newsletter-col {
  grid-area: newsletter-col;
}

.contact-us-col {
  grid-area: contact-us-col;
}

.search-bar {
  grid-area: search-bar;
  justify-self: center;
}
.logo-footer {
  width: 10rem;
}
.copyright-stuff {
  grid-area: copyright-stuff;
  justify-self: center;
}

/* #endregion */

/* #region - Mobile Navigation */
.nav-container {
  max-width: 100vw;
  margin: 0 auto;

  padding: 0 1.5rem;
  position: relative;
  overflow-x: hidden;

  background: #007fd3;
}
nav {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.nav-brand {
  width: 8rem;
}

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #007fd3;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 15;
  transition: all 650ms ease-in-out;
}
.nav-list.active {
  right: 0;
}
.nav-item {
  margin: 1.5rem 0;
}
.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);

  transition-duration: 150ms;
}
.nav-link:hover {
  font-weight: bold;
  font-size: x-large;
  color: white;
  border-bottom: 3px white solid;
}
.menu-icons i {
  font-size: 3.5rem;
  color: #fff;
  cursor: pointer;
}
.close i {
  color: #fff;
}
.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav-brand {
    margin-left: 10%;
    width: 10rem;
  }

  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    flex-direction: row;
    transition: initial;
    margin-right: 20%;
  }

  .menu-icons {
    display: none;
  }

  .nav-item {
    margin: 0 2.5rem;
  }

  .nav-link {
    position: relative;
    font-size: 1.7rem;
  }
}
/* #endregion*/

/* #region - HOME PAGE CSS*/

.homepage-container {
  text-align: center;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

.hompage-hero-section-container {
  height: auto;
  background-image: url("./images/hompage-hero-section-container-bg-image.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  padding: 3rem;
}
.hero-right {
  grid-area: right;
}
.hero-left {
  grid-area: left;
}

.homepage-hero-image {
  /* margin-top: 7rem; */
  max-width: 50rem;
}
@media screen and (min-width: 1000px) {
  .homepage-hero-image {
    margin-top: 7rem;
    max-width: 50rem;
  }
}

.homepage-hero-title {
  /* max-width: 7.005vw;
  height: 21.256vw; */
  display: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 8.696vw;
  line-height: 13vw;
  text-align: center;

  color: #ffffff;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .homepage-hero-title {
    display: block;
    margin-top: 7rem;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: left;

    color: #ffffff;
  }
}
.homepage-hero-message {
  max-width: 336px;
  height: 51px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(7px, 4.382vw, 18px);
  line-height: clamp(10px, 6vw, 25px);
  text-align: center;

  color: #ffffff;
  margin: 0 auto;
  height: auto;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .homepage-hero-message {
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 7rem;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: left;

    color: #ffffff;
  }
}

#homepage-hero-button {
  display: none;
}
#homepage-scroll-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .hompage-hero-section-container {
    display: grid;
    grid-template-areas:
      "left right"
      "scroll-btn scroll-btn";
    grid-template-columns: repeat(2, minmax(auto, 50rem));
    grid-gap: 10rem;
    justify-content: center;
  }
  .hero-left {
    padding-top: 10rem;
  }

  #homepage-hero-button {
    background: #ff6a40;
    font-weight: 600;
    font-size: x-large;
    max-width: 300rem;
    display: block;

    transition-duration: 300ms;
  }
  #homepage-hero-button:hover {
    background: #dd4a21;
    /* transform: scale(1.1); */
  }
  #homepage-scroll-button {
    display: inline-block;

    border-radius: 50%;
    padding: 20px;
    background-color: #fff;
    color: #000;
    /* grid-area: scroll-btn; */
    justify-self: center;

    /* transition-duration: 300ms; */
  }
  #homepage-scroll-button:hover {
    transform: scale(1.2);
  }
  #homepage-scroll-button i {
    font-size: 25px;
  }
  #scroll-a-tag {
    grid-area: scroll-btn;
    justify-self: center;
  }
}

/* homepage about section */
#homepage-about-section-container {
  align-content: center;
  text-align: center;
}

.homepage-about-section-title {
  margin-top: 3rem;
  text-align: center;
  grid-area: top;

  /* font-size: clamp(1vw, 4, 9rem); */
}

.home-about-left {
  grid-area: left;
}

.home-about-right {
  grid-area: right;
  align-self: center;
}
.homepage-about-section-image {
  margin-top: 3rem;

  max-width: 85rem;
  padding: 0 8rem;
}

.homepage-about-section-text-container {
  margin-top: 3rem;
}
.homepage-about-section-text-section-title {
  max-width: 68.841vw;
  height: 88px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(4.5vw, 2.2rem, 3rem);
  /* line-height: clamp(2rem, 10.628vw, 3rem); */
  text-align: center;
  height: auto;

  color: #313030;

  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .homepage-about-section-text-section-title {
    display: none;
    word-wrap: break-word;
    max-width: 500px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;

    color: #000;
    text-align: left;
  }
}

.homepage-about-section-text-section-content {
  margin-top: clamp(5rem, 19.246vw, 100rem);

  /* max-width: 83.575vw; */
  max-width: 22ch;
  height: 20.531vw;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  /* font-size: 15px; */
  font-size: clamp(15px, 3.382vw, 2.5rem);
  line-height: clamp(2rem, 4.106vw, 3rem);
  text-align: center;
  height: auto;

  color: #313030;

  margin: 3rem auto;
}

@media screen and (min-width: 768px) {
  .homepage-about-section-text-section-content {
    margin-top: 3rem;

    max-width: 494px;
    height: 120px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #313030;
    text-align: left;
  }
}

.homepage-about-section-text-section-button {
  margin-top: 5rem;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  /* font-size: 3.348vw; */
  line-height: clamp(2rem, 2.106vw, 3rem);

  color: #ffffff;

  /* transition-duration: 300ms; */
}
@media screen and (min-width: 768px) {
  .homepage-about-section-text-section-button {
    margin-top: 4rem;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    /* font-size: 24px; */

    color: #ffffff;

    vertical-align: middle;
  }
}
@media screen and (min-width: 768px) {
  #homepage-about-section-container {
    margin: 0 auto;
    width: 65vw;
    margin-top: 0rem;
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-rows: 20% 80%; */
    grid-template-areas:
      "left right"
      "left right";
  }
}
.homepage-card-section-container {
  margin: 7rem 2rem;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(auto, 25rem)); */
  grid-template-columns: repeat(auto-fit, clamp(13rem, 60vw, 35rem));
  grid-gap: 8rem;
  justify-content: center;
}

.card-container {
  margin-top: 0rem;

  text-align: center;

  padding: 0 2rem;
  padding-bottom: 2rem;

  background-color: #e5f5ff;
  border-radius: 1rem;
  max-width: 40rem;
}
.homepage-card-1-image,
.homepage-card-2-image,
.homepage-card-3-image {
  margin-top: 1.5rem;
  width: 50%;
  /* width: 9rem; */
}

.card-container > h1 {
  line-height: 3rem;
}
.card-subtitle {
  font-size: clamp(13px, 10.4vw, 15px);
}
.card-text {
  margin-top: 2.5rem;
  font-size: clamp(13px, 10.4vw, 15px);
  max-width: 24ch;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
}

.homepage-featured-product-section-container {
  margin-top: 6rem;
  text-align: center;

  background-color: #e7f1f9;

  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.homepage-featured-product-section-title {
}
.left-image-right-text-container {
  margin-top: 7rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .left-image-right-text-container {
    margin-top: 7rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 40px auto 5% auto;
    grid-template-rows: 40% 50%;
    grid-template-areas:
      "top-left-image    top-left-image    div right-divider-text"
      "bottom-left-image left-divider-text div right-divider-text";
    justify-content: center;
    align-items: flex-start;
  }

  .right-divider-text {
    text-align: left;
    font-size: 20px;
  }
}
.homepage-featured-product-image {
  /* margin-top: 3rem; */
  width: 20rem;
  grid-area: top-left-image;
}

.homepage-featured-product-left-image {
  width: 4rem;
  grid-area: bottom-left-image;
}
.left-divider-text {
  grid-area: left-divider-text;
  font-size: 20px;
  /* padding-top: 3rem; */
}

.vertical-divider {
  border-left: 0px solid black;
  height: 2rem;
  /* margin-top: 5rem; */
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .vertical-divider {
    border-left: 1px solid black;
    height: 19rem;
    /* margin-top: 5rem; */
    margin-right: auto;
    margin-left: auto;
  }
}
.right-divider-text {
  grid-area: right-divider-text;
  margin-top: 1rem;
  word-wrap: break-word;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

#homepage-featured-product-button {
  display: none;
}
@media screen and (min-width: 768px) {
}
/* #endregion */

/* #region - ABOUT PAGE CSS */

.about-page-container {
  text-align: center;
}
.about-page-about-section-1-container {
  padding: 2rem;
}
.about-page-about-section-1-title {
  margin-top: 5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-page-about-section-1-container {
    padding: 2rem;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 1fr 1fr;
    grid-template-areas:
      "title image"
      "content image"
      "button image";
    /* width: 90vw; */
    width: 65vw;
    margin: 0 auto;
  }
  .about-page-about-section-1-title {
    margin-top: 5rem;
    text-align: center;
    grid-area: title;
    align-self: flex-end;
  }
}

.about-page-about-section-image {
  margin-top: 5rem;

  max-width: 100rem;

  grid-area: image;
}
.about-page-about-section-1-text {
  margin-top: 6rem;
  text-align: center;
  max-width: 30ch;
  grid-area: content;
  justify-self: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  /* text-transform: capitalize; */
  margin: 0 auto;
  height: auto;
}

@media screen and (min-width: 1000px) {
  .about-page-about-section-1-text {
    font-size: 20px;
    text-align: left;
  }
}

.about-page-about-section-1-read-more-button {
  margin-top: 3rem;
  grid-area: button;
  justify-self: center;
  align-self: flex-start;

  font-family: Montserrat;
  font-style: normal;

  line-height: 29px;

  color: #ffffff;

  /* transition-duration: 300ms; */
}
hr {
  display: none;
}

@media screen and (min-width: 768px) {
  hr {
    display: block;
    max-width: 70%;
    margin: 0 auto;
    border-top: 1px solid gray;
    margin-top: 0rem;
  }
}
.about-page-section-2-container {
  padding: 2rem;
  padding-bottom: 5rem;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about-page-section-2-container {
    /* margin-top: 10rem; */
    padding: 2rem;
    padding-bottom: 5rem;

    display: grid;
    width: 65vw;
    margin: 10rem auto;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20rem 15rem 20rem;
    grid-template-areas:
      "image title "
      "image content "
      "image button ";
    grid-gap: 5rem;
    row-gap: 0;
  }
}
@media screen and (min-width: 1400px) {
  .about-page-section-2-container {
    /* margin-top: 10rem; */
    padding: 2rem;
    padding-bottom: 5rem;

    display: grid;
    width: 65vw;
    margin: 10rem auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20rem 15rem 20rem;
    grid-template-areas:
      "image title "
      "image content "
      "image button ";
    grid-gap: 5rem;
    row-gap: 0;
  }
}
@media screen and (min-width: 1700px) {
  .about-page-section-2-container {
    /* margin-top: 10rem; */
    padding: 2rem;
    padding-bottom: 5rem;

    display: grid;
    width: 65vw;
    margin: 10rem auto;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20rem 15rem 20rem;
    grid-template-areas:
      "image title "
      "image content "
      "image button ";
    grid-gap: 5rem;
    row-gap: 0;
  }
}
.about-page-section-2-image {
  /* margin-top: 12rem; */

  max-width: 80rem;

  grid-area: image;
}
@media screen and (min-width: 768px) {
  .about-page-section-2-image {
    margin-top: 0rem;

    max-width: 80rem;

    grid-area: image;
  }
}
#about-page-section-2-title-1 {
  max-width: 20ch;
  height: 88px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  /* font-size: 36px; */
  font-size: clamp(4.5vw, 2.2rem, 3rem);
  line-height: 33px;
  text-align: center;
  color: black;
  margin: 0 auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  #about-page-section-2-title-1 {
    max-width: 50ch;

    margin-left: 0;
    margin-top: 3rem;
    text-align: left;
    grid-area: title;
    align-self: flex-end;
    line-height: 25px;
    /* max-width: 500px; */
    height: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    /* font-size: clamp(36px, 4.8vw, 46px); */
    font-size: clamp(15px, 5vw, 25px);
    /* line-height: 7.005vw; */
    /* line-height: 59px; */

    color: #000000;
  }
}
.about-page-section-2-text {
  margin-top: 6rem;
  text-align: center;
  max-width: 30ch;
  grid-area: content;
  justify-self: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  /* text-transform: capitalize; */
  margin: 0 auto;
  height: auto;
}
@media screen and (min-width: 768px) {
  .about-page-section-2-text {
    margin-top: 3rem;
    text-align: justify;
    grid-area: content;
    align-self: flex-start;

    word-wrap: break-word;
    max-width: 35ch;

    justify-self: left;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    /* text-transform: capitalize; */

    margin: 0 auto;
    height: auto;
  }
}

.about-page-section-2-button {
  margin-top: 3rem;
  grid-area: button;
  justify-self: center;
  align-self: flex-start;

  font-family: Montserrat;
  font-style: normal;

  line-height: 29px;

  color: #ffffff;

  /* transition-duration: 300ms; */
}

/* #endregion */

/* #region - PORTFOLIO PAGE CSS */

.portfolio-page-container {
  /* padding: 2rem; */
}
.portfolio-page-section-1-container {
  text-align: center;
  display: grid;
  justify-content: center;
}
.portfolio-page-section-1-title {
  margin-top: 5rem;
  text-align: center;
}
.portfolio-page-container .container {
  display: none;
}
.portfolio-page-card-slider-container {
  margin-top: 5rem;
  /* display: flex;
  padding: 2rem;

  max-width: 100rem; */

  overflow-y: hidden;
  overflow-x: scroll;

  display: flex;
  flex-wrap: nowrap;
  /* overflow-x: auto; */
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.portfolio-page-card {
  margin-right: 50px;
  min-width: 200px;
}

.portfolio-page-image {
  margin-right: 30px;
}

.portfolio-page-section-1-card-title {
  margin-top: 2rem;
  text-align: center;
  color: #000;

  font-size: clamp(10px, 2.4vw, 24px);
}
.portfolio-page-section-1-card-subtitle {
  margin-top: 1rem;
  text-align: center;
}
.portfolio-page-section-1-card-text {
  margin-top: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

.portfolio-page-section-2 {
  text-align: center;
}

.portfolio-page-section-2-title {
  margin-top: 3rem;
  text-align: center;
}
.portfolio-page-section-2-image {
  margin-top: 4rem;
  text-align: center;

  max-width: 100rem;
}
.portfolio-page-section-3 {
  margin-top: 4rem;
  text-align: center;
  padding: 0 5rem;
}
@media screen and (min-width: 1700px) {
  .portfolio-page-section-3 {
    margin: 0 auto;
    max-width: 55vw;
    text-align: center;
    display: grid;
    grid-template-columns: 49% 1% 49%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
      "title title title"
      "left-text border right-image"
      "left-text border right-image";

    grid-gap: 5rem;
    justify-content: center;
  }
}

.portfolio-page-section-3-title {
  grid-area: title;
}
#portfolio-page-section-3-text {
  margin-top: 6rem;
  text-align: center;
  max-width: 50ch;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  #portfolio-page-section-3-text {
    margin-top: 6rem;
    text-align: left;
    font-size: 20px;
    max-width: 50ch;
    margin: 0 auto;
  }
}

.portfolio-page-vertical-divider {
  display: none;
}
@media screen and (min-width: 1700px) {
  .portfolio-page-vertical-divider {
    display: block;
    border-left: 1px solid black;
    height: 25rem;
    /* margin-top: 5rem; */
    margin-right: auto;
    margin-left: auto;
    grid-area: border;
  }
}
.portfolio-page-section-3-image {
  margin-top: 6rem;
  margin-bottom: 6rem;

  max-width: 30rem;
  grid-area: right-image;
}

/* #endregion */

/* #region - SUPPORT PAGE CSS */

.left-icon-right-text-container {
  display: grid;
  grid-template-columns: 40px 50%;
  grid-template-areas: "left-icon right-content-text";
  grid-gap: 3rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .left-icon-right-text-container {
    display: grid;
    grid-template-columns: 40px 50%;
    grid-template-areas: "left-icon right-content-text";
    grid-gap: 10rem;
    justify-content: center;
  }
}

.support-page-container {
  text-align: center;
  padding: 3rem;
}
.support-page-section-1-container {
  text-align: left;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  grid-row-gap: 1rem;
}
.support-page-section-1-title {
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: center;
}
.left-icon-right-text-container {
}
.left-icon {
  grid-area: left-icon;
}

.right-contact-text {
  grid-area: right-content-text;
  font-size: small;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .right-contact-text {
    grid-area: right-content-text;
    font-size: xx-small;
    text-align: left;
  }
}

#phone-icon {
  background-image: url("./images/icons/phone-icon.jpg");
  background-repeat: no-repeat;
}

#location-icon {
  background-image: url("./images/icons/location-icon.jpg");
  background-repeat: no-repeat;
}

#email-icon {
  background-image: url("./images/icons/email-icon.jpg");
  background-repeat: no-repeat;
}

.support-page-section-2-container {
  width: 65vw;
  margin: 0 auto;
}
.support-page-section-2-title {
  margin-top: 7rem;
}
.support-page-section-2-text {
  margin-top: 3rem;
}
@media screen and (min-width: 1000px) {
  .support-page-section-2-text {
    font-size: 20px;
  }
}
form {
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  input {
    max-width: 28rem;
    display: inline-block;
    margin-right: 3rem;
    padding: 2rem;
  }
  textarea {
    max-width: 100rem;
    padding: 2rem;
  }
  .left-icon {
    grid-area: left-icon;
    width: 100px;
  }

  .right-contact-text {
    grid-area: right-content-text;
    font-size: 1.9rem;
    font-weight: 500;
  }
}

.support-page-section-2-form-name {
  margin-top: 2rem;
}
.support-page-section-2-form-email {
  margin-top: 2rem;
}
.support-page-section-2-form-subject {
  margin-top: 2rem;
}
.support-page-section-2-form-message {
  margin-top: 2rem;
  width: 100%;
}
.support-page-section-2-form-submit {
  margin-top: 4rem;
  margin-bottom: 10rem;

  background: #0099ff;
  border-radius: 35px;
  width: fit-content;
  /* padding: 1.7rem 4.5rem; */
}

/* #endregion */

/* #region - slider stuff  */

#carousel-image {
  width: 50%;
}
#carousel-heading {
  /* font-size: clamp(15px, 5vw, 25px); */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: capitalize;

  color: #313030;

  margin-top: 20px;
}
#carosel-sub-heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-align: center;
  text-transform: capitalize;

  color: #000000;

  margin-top: 35px;
}
#carousel-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: capitalize;

  color: #000000;

  margin-top: 12px;
}

/* #endregion */
